{% extends 'base.html' %}

{% block title %}Домашнее задание{% endblock %}

{% block name %}Домашнее задание{% endblock %}

{% block body %}
    <div class="page page_default">
        <div class="page__inner text">
            <h2 class="hdr hdr_page">Первое веб-приложение</h2>

            <p>Цель: В этом ДЗ вы создадите первое веб-приложение.</p>
            <p>создайте базовое приложение на Flask. придумайте направление</p>
            <p>добавьте на свой сайт стили и действия</p>
            <p>Критерии оценки: приложение Flask, blueprints и главный модуль разделены - 1 балл</p>
            <p>применены стили - 1 балл</p>
            <p>выполняются действия (например, при нажатии кнопки) - 1 балл</p>
        </div>
    </div>
{% endblock %}